<%= link_to link, class: "text-decoration-none link-dark" do %>
  <div class="ResultCard border-bottom ps-1 u-flex u-flex--justifyBetween u-flex--alignCenter"> <!--ps-3-->
    <!-- Icon component -->
    <div class="me-1">
      <i class=" <%= icon_path %> "></i>
    </div>

    <!-- Title + Label Component -->
    <div class="ResultCard-content">
      <!-- Title Component -->
      <p class="ResultCard-title u-fontSize--primary u-textMargin--noMargin"> <%= title %> </p>

      <!-- Label Component -->
      <% if labels.present? %>
        <div class="LabelsContainer">
          <% labels.each do |label| %>
            <p class="Label Label--<%= label_class(label) %> u-fontSize--quaternary"> <%= label %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Key Infos = Source Specific info + Status + Date Component -->
    <div class="ResultCard-keyInfos u-textAlign--right u-fontSize--secondary mb-1">


      <!-- Key info component -->
      <p class="u-fontSize--secondary mb-1"><%= key_info %></p>

      <!-- Status component -->
      <% if status.present? %>
        <span class="ResultCard-statusIndicator is-status--<%= status %>"></span>
      <%end%>


      <!-- Date component -->
      <div>
        <p class="u-fontSize--tertiary u-textMargin--noMargin"> Último exame: <%= date_dd_mm_aaaa(date) %></p>
      </div>
    </div>

  </div>
<% end %>
