<html>
  <head>
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
      <div class="container-fluid d-flex justify-content-start">
        <%= link_to "#", class: "navbar-brand" do %>
          <!--Uncomment when you have a logo -->
          <!--%= image_tag "logo.svg" %-->
          <!--Uncomment when you have a logo -->
          <div>
            <p class="fs-3"> <%= @human.name %> </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
          <!-- Search bar -->
          <div data-controller="refresh-list">
            <div class="SearchBar">
              <%= form_with url: human_imaging_reports_path(@human), method: :get, html: { class: 'SearchBar-form', data: { refresh_list_target: 'form' } } do |f| %>
                <div class="SearchBar-inputWrapper">
                  <%= f.text_field :query,
                                class: "SearchBar-input",
                                placeholder: 'Parte corporal, exame ou laudo',
                                value: params[:query],
                                data: {
                                  refresh_list_target: 'searchInput',
                                  action: "keyup->refresh-list#update"
                                } %>
                  <span class="SearchBar-icon">
                    <i class="fa fa-search SearchBar-iconElement"></i>
                  </span>
                </div>
              <% end %>
            </div>
            <div data-refresh-list-target="list">
              <% @imaging_reports.each do |imaging_report| %>
                <%= render "shared/result_card",
                  link: human_imaging_report_path(@human.id, imaging_report[:id]),
                  icon_path: "fa-solid fa-circle-radiation", #fa-solid fa-chart-line fa-light fa-x-ray fa-regular fa-image
                  title: "#{imaging_report[:title][0]} #{imaging_report[:title][1]}",
                  key_info: imaging_report[:imaging_method],
                  status: nil,
                  date: imaging_report[:date],
                  labels: imaging_report[:label_system]
                %>
              <% end %>
            </div>
          </div>

          <!-- Result Card -->

        </div>
      </div>
    </div>
  </body>
