<html>
  <head>
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
      <div class="container-fluid d-flex justify-content-start">
        <%= link_to "#", class: "navbar-brand" do %>
          <!--Uncomment when you have a logo -->
          <!--%= image_tag "logo.svg" %-->
          <!--Uncomment when you have a logo -->
          <div>
            <p class="fs-3"> <%= @human.name %> </p>
          </div>
        <% end %>
      </div>
    </div>


    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
          <!-- Search bar -->
          <div class="d-flex justify-content-center search-bar">
              <%= form_with url: human_biomarkers_path(@human), method: :get, class: "d-flex w-100 mb-3" do %>
                <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder:"Digite um biomarcador"%>
                <%= submit_tag "Buscar", name: "", class: "btn btn-primary"%>
              <% end %>
          </div>
          <!-- Result Card -->
          <% @imaging_reports.each do |imaging_report| %>
            <%= render "shared/result_card",
              link: human_biomarkers_path(@human.id),
              icon_path: "fa-solid fa-chart-line",
              title: imaging_report[:imaging_method]
              # key_info:
              # date:
              # labels: 
            %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
