<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-12 col-lg-9">
      <h1> <%= " #{@imaging_report[:imaging_method]} #{@imaging_report[:title][0]} #{@imaging_report[:title][1]}"%> </h1>
      <div class="u-flex u-flex--justifyStart LabelsContainer">
          <h3 class="u-textMargin--noMargin">Sitema:</h3>
          <% @imaging_report[:label_system].each do |label| %>
            <h3 class="Label Label--<%=label_class(label)%>"> <%= label %> </h3>
          <% end %>
      </div>
      <h3> Data: 2025-01-02 </h3>
      <p> <%= @imaging_report[:title][0] %> </p>
      <p class="u-textAlign--justify"> <%= @imaging_report[:content] %> </p>


    </div>
  </div>
</div>
