<html>
  <head>
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
      <div class="container-fluid d-flex justify-content-start">
        <%= link_to "#", class: "navbar-brand" do %>
          <!--Uncomment when you have a logo -->
          <!--%= image_tag "logo.svg" %-->
          <!--Uncomment when you have a logo -->
          <div>
            <p class="fs-3"> <%= @human.name %> </p>
          </div>
        <% end %>
      </div>
    </div>


    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
          <div class="d-flex justify-content-center search-bar">
              <%= form_with url: human_biomarkers_path(@human), method: :get, class: "d-flex w-100 mb-3" do %>
                <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder:"Digite um biomarcador"%>
                <%= submit_tag "Buscar", name: "", class: "btn btn-primary"%>
              <% end %>
          </div>
          <% @last_measures.each do |measure| %>
            <%= link_to human_biomarker_measures_path(@human.id, measure.biomarker.id), class: "text-decoration-none link-dark" do %>
              <div class="card-justify border-bottom ps-3">
                <div>
                  <!-- https://fontawesome.com/icons/chart-line?f=classic&s=solid -->
                  <i class="fa-solid fa-chart-line"></i>
                </div>
                <div class="card-item-center text-left">
                  <% if !measure.biomarker.synonyms.find_by(language: "PT").nil? %>
                    <p class="fs-6"> <%= measure.biomarker.synonyms.find_by(language: "PT").name %> </p>
                  <% else %>
                    <p class="fs-6"><%= measure.biomarker.name %></p>
                  <% end %>
                </div>

                <div class="flexbox-text-right">
                  <div class="card-justify">
                    <% if measure.original_value > measure.same_unit_possible_max_value.round(2)%>
                      <p class="fs-6"><%= "#{measure.original_value} #{measure.unit.name}"  %></p><span class="status yellow"></span>
                    <%elsif measure.original_value < measure.same_unit_possible_min_value.round(2) %>
                      <p class="fs-6"><%= "#{measure.original_value} #{measure.unit.name}"  %></p><span class="status yellow"></span>
                    <%else%>
                      <p class="fs-6"><%= "#{measure.original_value} #{measure.unit.name}"  %></p><span class="status green"></span>
                    <% end %>
                  </div>
                  <div>
                    <p><%= measure.date.strftime("%Y-%m-%d") %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%# <div data-controller="toggle">
      <button class= "btn btn-outline-primary" data-action="click->toggle#fire"> Fechar pesquisa </button>
      <p class="d-none" data-toggle-target="toggleableElement">Testando mostrar e apagar</p>
    </div> %>

    <div data-controller="toggle">
      <div id="survey-container-open" class="d-none" data-toggle-target="statusOpen">
        <button class= "btn btn-primary" data-action="click->toggle#fire"> Fechar pesquisa </button>
        <script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src="https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd_2BW7NrEjzWK_2BpM3M6CzoFJy89zHftTYy3RTTRjZAhEey.js",a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script>
      </div>
      <div id="survey-container-close" data-toggle-target="statusClose">
        <button class= "btn btn-primary" data-action="click->toggle#fire"> Deixe seu feedback </button>
      </div>
    </div>




  </body>
