<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid d-flex justify-content-start">
    <%= link_to "#", class: "navbar-brand" do %>
      <!--Uncomment when you have a logo -->
      <!--%= image_tag "logo.svg" %-->
      <!--Uncomment when you have a logo -->
      <div>
        <p class="fs-3"> <%= @human.name %> </p>
      </div>
    <% end %>
  </div>
</div>


<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9">
      <!-- Search bar -->
      <div class="SearchBar">
          <%= form_with url: search_human_biomarkers_path(@human), method: :get, html: { class: 'SearchBar-form', data: { refresh_list_target: 'form' } } do |f| %>
            <div class="SearchBar-inputWrapper">
              <%= f.text_field :query,
                                class: "SearchBar-input",
                                placeholder:"Digite um biomarcador",
                                value: params[:query],
                                data: {
                                      refresh_list_target:'search_input',
                                      action: "keyup->refresh-list#update"
                                }
              %>

              <span class="SearchBar-icon">
                <i class="fa fa-search SearchBar-iconElement"></i>
              </span>
            </div>
          <% end %>
      </div>
      <!-- Result Card -->
      <% @biomarkers.each do |biomarker| %>
        <%= link_to human_biomarker_measures_path(@human.id, biomarker[:biomarker_id]), class: "text-decoration-none link-dark" do %>
          <div class="card-justify border-bottom ps-3">
            <div>
              <!-- https://fontawesome.com/icons/chart-line?f=classic&s=solid -->
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <div class="card-item-center text-left">
              <p class="fs-6"> <%= biomarker[:synonym_name] %> </p>
            </div>

            <div class="flexbox-text-right">
              <div class="card-justify">
                <!-- Verifying if biomarker has a range reference -->
                <% if !biomarker[:same_unit_possible_max_value].nil?%>
                  <% if biomarker[:original_value] > biomarker[:same_unit_possible_max_value].round(2)%>
                    <p class="fs-6"><%= "#{biomarker[:original_value]} #{biomarker[:unit_name]}"  %></p><span class="status-small yellow"></span>
                  <%elsif biomarker[:original_value] < biomarker[:same_unit_possible_min_value].round(2) %>
                    <p class="fs-6"><%= "#{biomarker[:original_value]} #{biomarker[:unit_name]}"  %></p><span class="status-small yellow"></span>
                  <%else%>
                    <p class="fs-6"><%= "#{biomarker[:original_value]} #{biomarker[:unit_name]}"  %></p><span class="status-small green"></span>
                  <% end %>
                <% else %>
                  <p class="fs-6"><%= "#{biomarker[:original_value]} #{biomarker[:unit_name]}"  %></p><span class="status-small green"></span>
                <% end %>
              </div>
              <div>
                <p><%= biomarker[:date].strftime("%Y-%m-%d") %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
