<% measure = locals[:measure] %>

<!-- Last measure div + Reference Value Div-->
<%= measure_type(measure) %>


<!-- JavaScript Chart-->
<div class="box-container-central mt-4 mb-5" id="biomarker-chart"
  data-controller="chart"
  data-chart-biomarker-measures-values-value="<%= get_only_first_hash_value(format_date_measures_mm_dd(measure[:measure_series][:measures_with_sources])).to_json%>"
  data-chart-biomarker-upper-band-value="<%= format_date_measures_mm_dd(measure[:measure_series][:upper_band]).to_json %>"
  data-chart-biomarker-lower-band-value="<%= format_date_measures_mm_dd(measure[:measure_series][:lower_band]).to_json %>">

  <div>
    <h5> Evolução do Biomarcador </h5>
  </div>
  <div>
    <canvas class="chart-container" data-chart-target="measures"></canvas>
  </div>
  <!-- Historic Table Div -->
  <%= render 'measures/historic_table', locals: {measure: measure} %>
  <!-- Page Footnotes Div -->
  <div class="small-letters">
    <p> Fontes de informação: Nossas referências são baseadas em instiuições de pesquisa e associações médicas. <br>
    Principais fontes: Biblioteca de Saúde da <a href= "https://www.mayoclinic.org/diseases-conditions" target="_blank"> Clínica Mayo</a>
    e Centro de Controle e Prevenção de Doenças dos EUA - <a href="https://www.cdc.gov/health-topics.html" target="_blank">CDC</a>.</p>
  </div>
</div>
