<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-12 col-lg-9">
      <!--! The page content goes inside this div -->
      <% if !@biomarker.synonyms.find_by(language: "PT").nil? %>
        <h2> <%= @biomarker.synonyms.find_by(language: "PT").name %></h2>
      <% else %>
        <h2><%= @biomarker.name %></h2>
      <% end %>
      <h5> Unidade: <%= @unit.name %> </h5>

      <!-- JavaScript Chart-->
      <div class="chart-container" data-controller="chart" data-chart-biomarker-measures-value="<%= @human_biomarker_measures_json%>" data-chart-biomarker-upper-band-value="<%=@human_biomarker_upper_band_measures_json%>" data-chart-biomarker-lower-band-value="<%=@human_biomarker_lower_band_measures_json%>">
        <canvas data-chart-target="canvas"></canvas>
      </div>
      <%= link_to human_biomarkers_path(@human.id) do %>
        <div class="navigation-button-left mt-3 ms-1">
          <%= image_tag "arrow-left.svg", class: "button-icon"%>
        </div>
      <% end %>

    </div>
  </div>
</div>
