<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-12 col-lg-9">
      <!--! The page content goes inside this div -->
      <% if !@biomarker.synonyms.find_by(language: "PT").nil? %>
        <h2> <%= @biomarker.synonyms.find_by(language: "PT").name %></h2>
      <% else %>
        <h2><%= @biomarker.name %></h2>
      <% end %>

      <!-- Last measure div -->
      <div class="elements-flex-start">
        <% if !@last_biomarker_upper_band_measure.nil? %>
          <% if @last_biomarker_measure > @last_biomarker_upper_band_measure %>
            <h5> Valor atual: <%= @last_biomarker_measure %> <%= @unit.name %> </h5> <span class="status-big yellow"> </span> <p> Acima </p>
          <% elsif @last_biomarker_measure < @last_biomarker_lower_band_measure %>
            <h5> Valor atual: <%= @last_biomarker_measure %> <%= @unit.name %> </h5> <span class="status-big yellow"></span> <p> Abaixo </p>
          <% else %>
            <h5> Valor atual: <%= @last_biomarker_measure %> <%= @unit.name %> </h5> <span class="status-big green"></span> <p> Normal </p>
          <% end %>
        <% else %>
          <h5> Valor atual: <%= @last_biomarker_measure %> <%= @unit.name %> </h5> <span class="status-big green"></span> <p> Normal </p>
        <% end %>
      </div>



      <!-- Reference Values Div -->
      <div class="box-container-central mb-2 mt-4">
        <h5>Valores de referência</h5>
        <p class="small text-secondary"> Referência: <%= @gender=="M" ? "Homem" : "Mulher" %> de <%= @age%> anos </p>
        <div class="text-elements-flex-start">
          <p>Normal: </p>
          <p> <span class="status-big green"></span> <%= @last_biomarker_lower_band_measure %> - <%= @last_biomarker_upper_band_measure %> <%= @unit.name %> </p>
        </div>
      </div>

      <!-- JavaScript Chart-->
      <div class="box-container-central" data-controller="chart" data-chart-biomarker-measures-value="<%= @human_biomarker_measures_json%>" data-chart-biomarker-upper-band-value="<%=@human_biomarker_upper_band_measures_json%>" data-chart-biomarker-lower-band-value="<%=@human_biomarker_lower_band_measures_json%>">
        <div>
          <h5> Evolução do Biomarcador </h5>
        </div>
        <div>
          <canvas class="chart-container" data-chart-target="canvas"></canvas>
        </div>
        <div class="mt-2">
          <p> Histórico de Medidas </p>
        </div>
        <table class="table">
          <thead>
            <tr>
              <td class="small">Data</td>
              <td>Medida</td>
              <td>Laboratório</td>
              <td>Exame Original</td>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td class="small text-secondary"> teste </td>
                <td> teste </td>
                <td> teste </td>
                <td> teste </td>
              </tr>

          </tbody>
        </table>
      </div>

      <%= link_to human_biomarkers_path(@human.id) do %>
        <div class="navigation-button-left mt-3 ms-1">
          <%= image_tag "arrow-left.svg", class: "button-icon"%>
        </div>
      <% end %>

    </div>
  </div>
</div>
