<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-12 col-lg-9">
       <!-- Back button -->
      <%= link_to human_biomarkers_path(@human.id) do %>
        <div class="NavigationCircleButton">
          <%= image_tag "arrow-left.svg", class: "NavigationCircleButton-icon"%>
        </div>
      <% end %>

      <!-- Biomarker name -->
      <% if !@biomarker.synonyms.find_by(language: "PT").nil? %>
        <h2> <%= @biomarker.synonyms.find_by(language: "PT").name %></h2>
      <% else %>
        <h2><%= @biomarker.name %></h2>
      <% end %>

      <!-- Last measure div -->
      <div class="elements-flex-start mb-4">
        <% if !@last_biomarker_upper_band_measure.nil? %>
          <% if @last_biomarker_measure_values > @last_biomarker_upper_band_measure %>
            <h5> Última Medição: <%= '%.2f' % @last_biomarker_measure_values %> <%= @unit.name %> </h5> <span class="status-big yellow"> </span> <p> Acima </p>
          <% elsif @last_biomarker_measure_values < @last_biomarker_lower_band_measure %>
            <h5> Última Medição: <%=  '%.2f' % @last_biomarker_measure_values %> <%= @unit.name %> </h5> <span class="status-big yellow"></span> <p> Abaixo </p>
          <% else %>
            <h5> Última Medição: <%= '%.2f' % @last_biomarker_measure_values %> <%= @unit.name %> </h5> <span class="status-big green"></span> <p> Normal </p>
          <% end %>
        <% else %>
          <h5> Última Medição: <%= '%.2f' % @last_biomarker_measure_values %> <%= @unit.name %> </h5>
        <% end %>
      </div>



      <!-- Reference Values Div -->
      <% if !@last_biomarker_upper_band_measure.nil? %>
        <div class="box-container-central mb-2 pb-0" id="reference-values">
          <h5>Valores de referência</h5>
          <p class="small text-secondary"> Referência: <%= @gender=="M" ? "Homem" : "Mulher" %> de <%= @last_age%> anos </p>
          <div class="text-elements-flex-start">
            <p>Normal: </p>
            <p> <%= @last_biomarker_lower_band_measure %> - <%= @last_biomarker_upper_band_measure %> <%= @unit.name %> </p>
          </div>
        </div>
      <% end %>

      <!-- JavaScript Chart-->
      <div class="box-container-central" id="biomarker-chart" data-controller="chart" data-chart-biomarker-measures-values-value="<%= @human_biomarker_measures_values_json%>" data-chart-biomarker-upper-band-value="<%=@human_biomarker_upper_band_measures_json%>" data-chart-biomarker-lower-band-value="<%=@human_biomarker_lower_band_measures_json%>">
        <div>
          <h5> Evolução do Biomarcador </h5>
        </div>
        <div>
          <canvas class="chart-container" data-chart-target="measures"></canvas>
        </div>


        <!-- Historic Table Div -->
        <div class="table-div mt-5 mb-5">
          <table class="table measures-table table-hover align-middle">
            <thead>
              <tr>
                <td class="small text-center"> Data </td>
                <td class="small text-center"> Medida </td>
                <td class="small text-center"> Exame </td>
              </tr>
            </thead>
            <tbody>
                <% @human_biomarker_measures.each do |key, value| %>
                <!-- @human biomarker_measures is hash which values are arrays.
                First value is measure value. Second value is the measure source. -->
                  <tr>
                    <td class="small text-secondary text-center"> <%= key.strftime("%d/%m/%Y") %> </td>
                    <td class="small text-secondary text-center"> <%= '%.2f' % value[0] %> </td> <!--Format number to string with two decimal places -->
                    <td class="small text-secondary text-center">
                      <% if value[1].files.attached?%>
                        <%= link_to rails_blob_path(value[1].files.first, disposition: "inline") do %>
                          <i class="fa-solid fa-file-pdf gray-icon"></i>
                        <% end %>
                      <% else %>
                        -
                      <% end %>
                    </td>
                  </tr>
                <% end %>

            </tbody>
          </table>
        </div>
        <!-- Page Footnotes Div -->
        <div class="small-letters">
          <p> Fontes de informação: Nossas referências são baseadas em instiuições de pesquisa e associações médicas. <br>
          Principais fontes: Biblioteca de Saúde da <a href= "https://www.mayoclinic.org/diseases-conditions" target="_blank"> Clínica Mayo</a>
          e Centro de Controle e Prevenção de Doenças dos EUA - <a href="https://www.cdc.gov/health-topics.html" target="_blank">CDC</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
