<!DOCTYPE html>
<html>
  <head>
    <title>Smarthealth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Other head content like stylesheets, meta tags, etc. -->

  </head>

  <% if (controller.controller_name == 'biomarkers' && controller.action_name == 'index') ||
      (controller.controller_name == 'measures' && controller.action_name == 'index') %>
    <!-- Hotjar Tracking Code -->
    <body data-controller="hotjar">
    <% else %>
    <body>
  <% end %>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
