<!DOCTYPE html>
<html>
  <head>
    <title>Smarthealth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

     <!-- Shim for older browsers compatibility -->
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js"></script>

    <%= javascript_importmap_tags %>

    <!-- Other head content like stylesheets, meta tags, etc. -->


    <!-- Hotjar Tracking Code for https://smarthealth-prod-a89f7e2c4ece.herokuapp.com/ -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:5191202,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          // this seems to do the trick
          r.setAttribute("data-turbo-track","reload")
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  

  </head>

  <body class="<%= content_for?(:navbar_top) ? 'has-navbar-top' : '' %> <%= content_for?("navbar_bottom") ? 'has-navbar-bottom' : '' %>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield :navbar_top %>
    <!--%= yield :navbar_bottom %-->
    <!-- Uncoment to add the bottom navbar -->
    <%= yield %>
  </body>

</html>
